.header-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width:1200px;
    margin:auto;
    border-bottom: 1px solid #d2d1cd;
    position: relative;
}


.header-left-container img{
    width:180px;
    cursor: pointer;
    outline:none;
}

.header-right-container{
    padding:0 25px;
}

.header-right-container img{
    padding-right: 10px;
    margin-top:5px;
    width:50px;
    cursor: pointer;
    outline:none;
}
.header-right-container span{
    position:absolute;
    color:#000;
    font-weight: 700;
    right:22px;
}

@media(max-width:468px){
    .header-container{
        padding:0 10px; 
    }
    .header-right-container{
        padding-right: 20px;
    }
}