.footer-container{
    padding:10px;
    max-width:1000px;
    margin:20px auto;
    /* background: #d2d1cd; */
    
}
.footer-container p{
    text-align: center;
    font-size: 12px;
    font-weight: 700;
}